@font-face{font-family:lw-section-icon-font;src:url(../fonts/lw-section-icon-font.eot);src:url(../fonts/lw-section-icon-font.eot?&_v=22bc513f#iefix) format('embedded-opentype'),url(../fonts/lw-section-icon-font.woff) format('woff'),url(../fonts/lw-section-icon-font.ttf) format('truetype'),url(../fonts/lw-section-icon-font.svg#lw-section-icon-font) format('svg');font-weight:400;font-style:normal}@font-face{font-family:lw-amenity-icon-font;src:url(../fonts/lw-amenity-icon-font.eot);src:url(../fonts/lw-amenity-icon-font.eot?&_v=22bc513f#iefix) format('embedded-opentype'),url(../fonts/lw-amenity-icon-font.woff) format('woff'),url(../fonts/lw-amenity-icon-font.ttf) format('truetype'),url(../fonts/lw-amenity-icon-font.svg#lw-amenity-icon-font) format('svg');font-weight:400;font-style:normal}@font-face{font-family:lw-icon-font;src:url(../fonts/lw-icon-font.eot);src:url(../fonts/lw-icon-font.eot?&_v=22bc513f#iefix) format('embedded-opentype'),url(../fonts/lw-icon-font.woff) format('woff'),url(../fonts/lw-icon-font.ttf) format('truetype'),url(../fonts/lw-icon-font.svg#lw-icon-font) format('svg');font-weight:400;font-style:normal}
.lw-amenity-icon{font-family:lw-amenity-icon-font;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:35px;display:inline-block}.lw-amenity-icon.i-000:before{content:"\e800"}.lw-amenity-icon.i-001:before{content:"\e801"}.lw-amenity-icon.i-002:before{content:"\e802"}.lw-amenity-icon.i-003:before{content:"\e803"}.lw-amenity-icon.i-004:before{content:"\e804"}.lw-amenity-icon.i-005:before{content:"\e805"}.lw-amenity-icon.i-006:before{content:"\e806"}.lw-amenity-icon.i-007:before{content:"\e807"}.lw-amenity-icon.i-010:before{content:"\e808"}.lw-amenity-icon.i-011:before{content:"\e809"}.lw-amenity-icon.i-012:before{content:"\e80a"}.lw-amenity-icon.i-013:before{content:"\e80b"}.lw-amenity-icon.i-014:before{content:"\e80c"}.lw-amenity-icon.i-015:before{content:"\e80d"}.lw-amenity-icon.i-016:before{content:"\e80e"}.lw-amenity-icon.i-017:before{content:"\e80f"}.lw-amenity-icon.i-020:before{content:"\e810"}.lw-amenity-icon.i-021:before{content:"\e811"}.lw-amenity-icon.i-022:before{content:"\e812"}.lw-amenity-icon.i-023:before{content:"\e813"}.lw-amenity-icon.i-024:before{content:"\e814"}.lw-amenity-icon.i-025:before{content:"\e815"}.lw-amenity-icon.i-026:before{content:"\e816"}.lw-amenity-icon.i-027:before{content:"\e817"}.lw-amenity-icon.i-030:before{content:"\e818"}.lw-amenity-icon.i-031:before{content:"\e819"}.lw-amenity-icon.i-032:before{content:"\e81a"}.lw-amenity-icon.i-033:before{content:"\e81b"}.lw-amenity-icon.i-034:before{content:"\e81c"}.lw-amenity-icon.i-035:before{content:"\e81d"}.lw-amenity-icon.i-036:before{content:"\e81e"}.lw-amenity-icon.i-037:before{content:"\e81f"}.lw-amenity-icon.i-040:before{content:"\e820"}.lw-amenity-icon.i-041:before{content:"\e821"}.lw-amenity-icon.i-042:before{content:"\e822"}.lw-amenity-icon.i-043:before{content:"\e823"}.lw-amenity-icon.i-044:before{content:"\e824"}.lw-amenity-icon.i-045:before{content:"\e825"}.lw-amenity-icon.i-046:before{content:"\e826"}.lw-amenity-icon.i-047:before{content:"\e827"}.lw-amenity-icon.i-050:before{content:"\e828"}.lw-amenity-icon.i-051:before{content:"\e829"}.lw-amenity-icon.i-052:before{content:"\e82a"}.lw-amenity-icon.i-053:before{content:"\e82b"}.lw-amenity-icon.i-054:before{content:"\e82c"}.lw-amenity-icon.i-055:before{content:"\e82d"}.lw-amenity-icon.i-056:before{content:"\e82e"}.lw-amenity-icon.i-057:before{content:"\e82f"}.lw-amenity-icon.i-060:before{content:"\e830"}.lw-amenity-icon.i-061:before{content:"\e831"}.lw-amenity-icon.i-062:before{content:"\e832"}.lw-amenity-icon.i-063:before{content:"\e833"}.lw-amenity-icon.i-064:before{content:"\e834"}.lw-amenity-icon.i-065:before{content:"\e835"}.lw-amenity-icon.i-066:before{content:"\e836"}.lw-amenity-icon.i-067:before{content:"\e837"}.lw-amenity-icon.i-070:before{content:"\e838"}.lw-amenity-icon.i-071:before{content:"\e839"}.lw-amenity-icon.i-072:before{content:"\e83a"}.lw-amenity-icon.i-073:before{content:"\e83b"}.lw-amenity-icon.i-074:before{content:"\e83c"}.lw-amenity-icon.i-075:before{content:"\e83d"}.lw-amenity-icon.i-076:before{content:"\e83e"}.lw-amenity-icon.i-077:before{content:"\e83f"}.lw-amenity-icon.i-080:before{content:"\e840"}.lw-amenity-icon.i-081:before{content:"\e841"}.lw-amenity-icon.i-082:before{content:"\e842"}.lw-amenity-icon.i-083:before{content:"\e843"}.lw-amenity-icon.i-084:before{content:"\e844"}.lw-amenity-icon.i-085:before{content:"\e845"}.lw-amenity-icon.i-086:before{content:"\e846"}.lw-amenity-icon.i-087:before{content:"\e847"}.lw-amenity-icon.i-090:before{content:"\e848"}.lw-amenity-icon.i-091:before{content:"\e849"}.lw-amenity-icon.i-092:before{content:"\e84a"}.lw-amenity-icon.i-093:before{content:"\e84b"}.lw-amenity-icon.i-094:before{content:"\e84c"}.lw-amenity-icon.i-095:before{content:"\e84d"}.lw-amenity-icon.i-096:before{content:"\e84e"}.lw-amenity-icon.i-097:before{content:"\e84f"}.lw-amenity-icon.i-100:before{content:"\e850"}.lw-amenity-icon.i-101:before{content:"\e851"}.lw-amenity-icon.i-102:before{content:"\e852"}.lw-amenity-icon.i-103:before{content:"\e853"}.lw-amenity-icon.i-104:before{content:"\e854"}.lw-amenity-icon.i-105:before{content:"\e855"}.lw-amenity-icon.i-106:before{content:"\e856"}.lw-amenity-icon.i-107:before{content:"\e857"}.lw-amenity-icon.i-108:before{content:"\e858"}.lw-section-icon{font-family:lw-section-icon-font;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:28px;color:#ccccd5;display:inline-block;vertical-align:-7px}.lw-section-icon.icon-08:before{content:"\e607"}.lw-section-icon.icon-09:before{content:"\e604"}.lw-section-icon.icon-06:before{content:"\e60b"}.lw-section-icon.icon-03:before{content:"\e60a"}.lw-section-icon.icon-05:before{content:"\e608"}.lw-section-icon.icon-07:before{content:"\e605"}.lw-section-icon.icon-02:before{content:"\e60c"}.lw-section-icon.icon-04:before{content:"\e609"}.lw-section-icon.icon-11:before{content:"\e60e"}.lw-section-icon.icon-01:before{content:"\e60d"}.lw-section-icon.icon-14:before{content:"\e606"}.lw-section-icon.icon-13:before{content:"\e60e"}.lw-section-icon.icon-20:before{content:"\e603"}.lw-section-icon.icon-21:before{content:"\e602"}.lw-section-icon.icon-22:before{content:"\e601"}.lw-section-icon.icon-23:before{content:"\e600"}.lw-section-icon.icon-24:before,.lw-section-icon.icon-all:before{content:"\e60f"}.lw-section-icon.icon-25:before,.lw-section-icon.icon-popular:before{content:"\e610"}


.hd-search-form{
	width: 56%;
    float: left;
    margin-top: 4px;
	margin-left: 35px;
}

.hd-search-form input{
	width: 100%;
    height: 35px;
    padding-left: 22px;
    padding-top: 8px;
}
.hd-search-form .input-group-btn .js-submit-search{
	border-left: none;
    padding: 7px 12px 7px;
}
.home-container .section-home .container>h3{
	font-size: 2.5rem;
}
.controller-hourlie.action-list .listings-container{
	margin-left: 10px;
}
.controller-hourlie.action-list .listing-row .title{
	font-weight: bold;
}
.controller-hourlie.action-list .listing-row .horizontal>li{
	text-transform: none;
    font-weight: 400;
}
.controller-hourlie.action-list .listing-row.featured-row{
	background-color: #fff;
}
a.js-paragraph-crop{
	color: #4774b7;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
}
.top-navigation .nav .dropdown .dropdown-menu.simple li a:not(.nested-link){
    font-size: 15px;
    font-size: 1.5rem;
    text-transform: none; 
}
.top-navigation .nav .dropdown .dropdown-menu{
    background-color: #414141;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 39px;
    right: -59px;
    width: 185px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.top-navigation .nav .navigation-menu, .top-navigation .nav .user-menu{
    height: auto !important;
}

.widget-memberSummary{
    padding: 5px 0;
    border-bottom: 1px dotted #ECECEC;
}
.category-tree li ul, .category-tree li .sub-menu {
    margin-top: 10px;
    padding-left: 30px;
    position: relative;
}
.category-tree ul.sub-menu:before {
    border-left: 3px solid #ff7300;
}
.category-tree ul.sub-menu:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 10px;
}

.thum-404{
    background: transparent url('../images/main-bg-noise.png') repeat top left;
    height: 100%;
}
.controller-site.full-page .static-errors {
    min-height: 500px;
    background: url('../images/error-face.png') 600px 50px no-repeat;
}
.hourlie-description-text{
    padding: 25px 15px;
    font-size: 14px;
}
label.error{
    color: red;
    font-size: 9px;
}
.top-navigation.home-version .nav .menu-block>ul>li>a.btn.job{
    border-color: #fff;
    color: #fff;
} 
.top-navigation.home-version .nav .auth-menu a {
    color: #fff;
}
#get-started{
    border-radius: 2px;
    padding: 20px;
}
#get-started .what .ico, .hd-search-form .what .ico {
    top: 10px;
    left: 5px;
    opacity: 1;
}
#get-started .what .ico, .hd-search-form .what .ico {
    background: url(../images/icon-search.png) no-repeat;
    width: 19px;
    height: 19px;
}
#get-started .where .ico, .hd-search-form .where .ico {
    top: 10px;
    left: 7px;
    opacity: 1;
}
#get-started .where .ico, .hd-search-form .where .ico{
    background: url(../images/icon-pin.png) no-repeat;
    width: 16px;
    height: 20px;
}
#get-started .ico, .hd-search-form .ico {
    position: absolute;
    cursor: text;
}
.hd-search-form .ico{
    background-size: 80% !important;
}
.home-container .section-home.section-carousel .get-started-form input[type="text"]{
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 30px;
}
.profile-main{
    margin-top: 15px;
}

.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices li {
    float: left;
    list-style: outside none none;
}

.select2-search input, .select2-container-multi .select2-choices .select2-search-field input {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
.select2-container-multi .select2-choices .select2-search-field input {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none;
    box-shadow: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
    margin: 1px 0;
    outline: 0 none;
    padding: 5px;
}

/* RATING */
#rating { list-style:none; margin:20px auto; }
#rating li { display:inline; float:left; }
#rating li a { 
    display:block; width:22px; height:21px; margin:5px; background-color:#cbcbcb; text-indent:-9999px;
    -moz-border-radius: 2px;-webkit-border-radius: 2px;-o-border-radius: 2px;  
}

#ratinginfo { float:left; width:50px; }
#ratinginfo p {
    background-image: url("../images/textbg.png");
    font: 20px Ari,'Times New Roman',serif;
        padding: 4px 5px;
    font-weight: bold; 
}

.colection-wrapper {
    padding-bottom: 40px;
    padding-top: 20px;
}
.ta-center {
    text-align: center;
}
.hp-tour-in {
    padding: 18px 0;
}
.section-title-thin {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px;
}
.section-title {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 700;
}
.hp-collection .collection-box {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.hp-collection .collections-title {
    font-size: 18px;
    position: absolute;
    top: 24px;
    left: 15px;
    line-height: 20px;
    color: #FFF;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    margin: 0;
    font-weight: 400;
    padding: 5px 0;
    z-index: 1;
    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);
}
.hp-collection .collections-title_outlets {
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .5;
    font-family: Arial,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
}
.hp-collection .collections-title_outlets {
    display: block;
    text-transform: uppercase;
}
.hp-collection .collections-title_text {
    display: block;
    height: 40px;
    width: 200px;
    font-size: 12pt;
    line-height: 20px;
    font-weight: 400;
    overflow: hidden;
    
    text-align: left;
}
.hp-collection .collection-box-bg {
    background-size: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-position: center center;
    overflow: hidden;
    height: 100px;
}
.collection-overlay {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
}
.mtop {
    margin-top: 20px;
}
.hp-collection-load{
    padding: 10px 60px;
}
.listings-sidebar h3, .left-column h3{
	color: #4774b7 !important;
}
.cert-level10-small{
	margin: 2px 5px 0 0;
    width: 20px;
    height: 20px;
    bottom: -3px;
}
.controller-hourlie.action-list .listing-row .horizontal>li{
    font-size: 12px !important;
    font-size: 1.2rem !important;
}
.hourlie-tile-container .hourlie-tile:hover >.image-container .img-grid:after, .listings-container .listing-row .row-image-container:hover >.hourlie-image-frame:after{
    background: linear-gradient(bottom,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
    background: transparent 100%;
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(bottom,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(bottom,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(bottom,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top,rgba(0,0,0,.2) 20%,rgba(0,0,0,0) 100%);
    background-position: 0 -102%; 
}
.controller-hourlie.action-list .listing-row .member-first-name{
    width: 88px;
    overflow: hidden;
}
.controller-hourlie.action-list .listing-row .member-first-name .member-name{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important; 
    color: #555 !important;
}
.image-container .img-grid:after, .hourlie-image-container a.hourlie-image-frame:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 50%;
    background: linear-gradient(bottom,rgba(0,0,0,.65) 20%,rgba(0,0,0,0) 100%);
    background: transparent 100%;
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.65) 20%,rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(bottom,rgba(0,0,0,.65) 20%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(bottom,rgba(0,0,0,.65) 20%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(bottom,rgba(0,0,0,.65) 20%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top,rgba(0,0,0,.65) 20%,rgba(0,0,0,0) 100%);
    -webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;   
}
.image-container .img-grid .circle, .hourlie-image-frame .circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #FFF;
    position: absolute;
    bottom: 10px;
    left: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #FFF;
    font-family: opensans-regular;
    font-size: 16px;
    text-align: center;
    z-index: 10;
    visibility:visible;
    opacity:1;
    transition:opacity 0.5s linear;
}
.listings-container .listing-row .row-image-container .hourlie-image-frame:hover >.circle , .image-container .img-grid:hover >.circle{
    visibility:hidden !important;
    opacity:0 !important;
}
.write-btn{
    padding: 10px 25px;
}
.bookmark {
    position: absolute !important;
    z-index: 422;
    right: 7px;
    top: 160px;
    padding: 6px 8px 5px 15px!important;
    border: 1px solid #fff;
    border-color: rgba(255,255,255,.25);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgba(255,255,255,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    visibility:hidden;
    opacity:0;
    transition:opacity 0.5s linear;
}
.bookmark:before{
    content: "\e63c";
    color: #fff;
}
.bookmark.remove-flash:before{
    content: "\e600";
    color: #fff;
}
.listings-container .listing-row .row-image-container:hover >.bookmark, .hourlie-tile-container .hourlie-tile:hover >.bookmark{
    display: block;
    color: #fff;
    text-decoration: none;
    visibility:visible;
    opacity:1;
}
.listings-container .listing-row .row-image-container .bookmark{
    right: 21px;
    top: 110px;
}

.box-writing{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 60px;
    padding: 15px;
    font-size: 16px;
}
.box-writing:before {
    position: absolute;
    top: 20px;
    left: -10px;
    display: inline-block;
    border-right: 10px solid #ccc;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    content: '';
}
.box-writing:after {
    position: absolute;
    top: 21px;
    left: -9px;
    display: inline-block;
    border-right: 9px solid #fff;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    content: '';
}
.wrap-container.place{
    width: 100%;
    height: 350px;
    margin-top: 0 !important;
}
.wrap-container.place .progressive_img_loaded {
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hero--overlay {
    height: 100%;
    background-color: rgba(0,0,0,.45);
    position: relative;
}
.wrap-container.place .hero_restaurant_wrapper {
    height: 100%;
    position: relative;
}
.wrap-container.place .resbox-intro {
    position: absolute;
    bottom: 50px;
    margin-top: 0;
}
.wrap-container.place .header-border {
    border: none;
}
.resbox-intro--obp .resbox__header {
    border-bottom: solid 1px rgba(234,234,234,.25);
    min-height: 100px;
}
.resbox__header:after, .resbox__header:before {
    content: " ";
    display: table;
}
.res-info-estabs {
    float: left;
    background: #f2c572;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .01em;
    letter-spacing: 1px;
}
.wrap-container.place .rating-top>div, .wrap-container.place .rating-votes-div, .wrap-container.place .res-name-wrapper a, .wrap-container.place .rrw-votes span[itemprop=ratingCount], .wrap-container.place a {
    color: #fff!important;
    text-decoration: none;
}
.resbox__header--left {
    max-width: 78%;
    position: relative;
    float: left;
}
.resbox__header--right {
    float: right;
    margin-top: 10px;
}
.resbox__header--left:after, .resbox__header--left:before {
    content: " ";
    display: table;
}
.res-name {
    display: inline-block;
    margin: 0 10px 4px 0;
    font-size: 42pt;
    height: 70px;
    float: left;
    font-weight: 200!important;
    text-shadow: 0 0 1px #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.resbox-intro--obp .rest-sms-btn {
    transition: .15s ease-out 'border-color';
    -moz-transition: .15s ease-out 'border-color';
    -webkit-transition: .15s ease-out 'border-color';
    -o-transition: .15s ease-out 'border-color';
    border: solid 1px rgba(234,234,234,.25)!important;
}
.wrap-container.place .rest-sms-btn {
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    right: -52px;
    margin-top: -6px;
    border-radius: 10px;
}
.res-btn {
    float: left;
    margin-top: 19px;
    color: #f0f0f0!important;
    font-size: 12px;
    padding: 3px 10px 2px;
    border-color: #f0f0f0!important;
    transition: .15s ease-out all;
    -moz-transition: .15s ease-out all;
    -webkit-transition: .15s ease-out all;
    -o-transition: .15s ease-out all;
}
.resbox__header--right .small-rating {
    float: none;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    width: 60px;
    height: 34px;
    border-radius: 8px;
    text-shadow: none;
    line-height: 33px;
}
.small-rating {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-top: 2px;
    line-height: 30px;
    width: 40px;
    height: 30px;
    cursor: default;
}
.level-7 {
    background: #5ba829;
}
.res-rating-rhs {
    letter-spacing: -.3px;
    color: #2d2d2d;
}
.res-action-box #res-page-add-user-collection, .res-action-box #resinfo-bt, .res-action-box #resinfo-wr, .res-action-box #resinfo-wtt {
    line-height: 37px;
    height: 37px;
    border-radius: 4px;
    background: rgba(255,255,255,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    border: 1px solid #fff;
    border-color: rgba(255,255,255,.25);
}
.res-action-box .btn {
    padding: 0 15px;
}
#res-page-add-user-collection, #resinfo-wtt {
    text-align: center;
    overflow: hidden;
}
.res-action-box {
    margin-top: 12px;
    margin-bottom: 8px;
    position: relative;
}
.res-act-button{
    margin-bottom: 5px;
    margin-right: 10px;
}
.res-act-button a {
    position: relative;
    padding: 6px 15px;
    font-size: 18px;
}
.home-container .carousel-caption .caption-list li{
    cursor: pointer;
}
ul.caption-list li.active{
    border-bottom: 2px solid #ff6a26;
} 





@media(max-width: 899px){
    
    .top-navigation .tab-content section ul{
        padding: 5px 5px;
    }
}
@media (max-width: 767px){
    
    .hd-search-form{
        width: 295px !important;
        float: left;
        margin-top: 15px !important;
        margin-left: 0 !important;
    }
    .home-container .section-home.section-carousel .carousel-caption{
        top: 20%;
    }
    .controller-hourlie.action-list .listings-container{
        margin-left: -10px;
    }
    .home-container.fullheight {
        height: 85%;
    }
    .hd-search-form .input-group-btn .js-submit-search{
        padding: 7px 12px 8px !important;
    }
    .controller-hourlie .hourlie-list-item .info{
        width: 100%;
        height: auto;
    }
    .listings-container .listing-row .row-image-container{
        padding: 0;
    }
    .hourlie-image-container{
        height: 125px;
    }
    .box-writing{
        padding: 0;
    }
    
}





